.menu#settings-menu
  .form
    p
      span(data-i18n='menu.language.heading') Language
    p
      select#language-select
        option(value='en', data-i18n='i18n.lang.en') English
        option(value='zh-Hant', data-i18n='i18n.lang.zh-Hant') Chinese
        option(value='es', data-i18n='i18n.lang.es') Spanish
        option(value='es_MX', data-i18n='i18n.lang.es-mx') Spanish (Mexico)
